<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>admin</title>
</head>
<body>
<div>
  <<div>
  <a th:href="@{/user}" >User Info</a>
</div>
  <div>
    <a th:href="@{/logout}">Exit</a>
  </div>
  <div>
    <form th:action="@{/newuser}" th:object="${users}" method="post">
      <fieldset>
        <legend>Create New User</legend>
        <p>
          <label>
            <input  type="text" name="username" placeholder="Username" th:id="username">
          </label>
        </p>
        <p>
          <input type="text" name="phonenumber" placeholder="Phone number" th:id="phoneNumber">
        </p>
        <p>
          <input type="email" placeholder="Email" name="email" th:id="email">
        </p>
        <p>
          <input type="text" name="address" placeholder="Address" th:id="address">
        </p>
        <p>
          <input  type="password" placeholder="Password" name="password"  th:id="password">
        </p>
        <p>
          <label th:for="roles">Role</label>
          <select multiple name="roles" size="3" th:id="roles" required>
            <option disabled>Select Role</option>
            <option th:each="role:${roles}" th:value="${role}" th:text="${role.name}"></option>
          </select>
        </p>
      </fieldset>
      <input type="submit" value="Create user"/>
    </form>
  </div>
  <div class="model-atribut">
    <div>
      <h2>All Users</h2>
      <br>
      <div class="class-table">
        <table>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Password</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <th:block th:each="user: ${users}">
            <tr>
              <td th:utext="${user.id}"></td>
              <td th:utext="${user.username}"></td>
              <td th:utext="${user.email}"></td>
              <td th:utext="${user.phoneNumber}"></td>
              <td th:utext="${user.address}"></td>
              <td th:text="${user.password}"></td>
              <td>
                <th:block th:each="role:${user.roles}">
                  <a th:text="${role.name}"></a>
                </th:block>
              </td>
              <td>
                <form th:action="@{/edit/{id}(id=${user.id})}" method="post"
                      th:object="${user}">
                  <input type="submit" value="Edit"/>
                </form>
              </td>
              <td>
                <form th:action="@{/delete/{id}(id=${user.id})}" method="post"
                      th:object="${user}">
                  <input type="submit" value="Delete">
                </form>
              </td>
            </tr>
          </th:block>

        </table>
      </div>
    </div>
</div>
</div>
</body>
</html>